cross_validation_.py
1vs2zetas.py
supopt_vs_opt.py
.ipynb_checkpoints/
*zip*
legacies
*.ipynb
*pdf
models/all_candidate_models/
pRight/
comparison*
cv_on_simulations.py
models/expSmoothing_prevAction2.py
models/biased*
models/expSmoothing_contrasts*
models/expSmoothing_prevAction_*
models/fixed_prior.py
models/all_candidate_models/likelihood.py
biasedVSunbiased/
models/expSmoothing_stimside_*alpha*.py
models/expSmoothing_prevAction_prevStimSide.py
models/all_candidate_models/expSmoothing_stimcontrast.py
models/expSmoothing_stimside_*ontrast.py
models/expSmoothing_stimside_*rior.py
models/all_candidate_models/prevAction.py
models/all_candidate_models/stimside.py
script.py
script_1sess.py
script_*Wise.py
rylan_analysis.py
.vscode/
results/
*.pyc
__pycache__/
dj_local_conf.json
analyze.py
models/__pycache__/
figures/
.DS_Store
*.pkl
results*/
cross_validation.py
